@media (max-width: 320px)  {
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
       
      }
    
      .form {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 1rem;
        margin-top: -2rem;
        

      }
    
      .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
      }
    
      .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
      }

      .information{
        font-size: 0.7rem;
      }
    
      .square {
        transform: translate(140%, 43%);
        height: 350px;
      }
    
      .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
      }
    
      .text {
        margin: 1rem 0 1.5rem 0;
      }
    
      .social-media {
        padding: 1.5rem 0 0 0;
      }
  }


  @media (max-width: 375px) {
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: -3rem;
        margin-right: -1rem;;
       
      }
    
      .form {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 1rem;
        margin-top: -2rem;
        

      }
    
      .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
      }
    
      .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
      }
    
      .square {
        transform: translate(140%, 43%);
        height: 350px;
      }
    
      .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
      }
    
      .text {
        margin: 1rem 0 1.5rem 0;
      }
    
      .social-media {
        padding: 1.5rem 0 0 0;
      } 
  }



@media (max-width: 425px) {
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: -14rem;
        margin-right: -10rem;
        margin-top: -10rem;
       
      }
    
      .form {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 1rem;
        margin-top: -2rem;
        

      }
    
      .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
      }
    
      .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
      }
    
      .square {
        transform: translate(140%, 43%);
        height: 350px;
      }
    
      .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
      }
    
      .text {
        margin: 1rem 0 1.5rem 0;
      }
    
      .social-media {
        padding: 1.5rem 0 0 0;
      }  
}





@media (max-width:1024px) {
    .container{
      padding-left: 13rem;
      padding-right: 11rem;
    }
  
    .form {
      grid-template-columns: 1fr;
      width: 100%;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  
  
  @media (max-width: 1440px){
    .container{
      padding-left: 13rem;
      padding-right: 11rem;
    }
  
    .form {
      grid-template-columns: 1fr;
      width: 100%;
      margin-top: 10rem;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    } 
  }